.todoFormWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  margin-top: 1rem;
  border-radius: 1rem;
  background-color: #5ac3f6;
}

.todoStatusGroupWrap {
  display: flex;
  flex-direction: row;
}
