.wrap {
  display: flex;
  flex-direction: row;
  width: 45rem;
}

.select {
  width: 30%;
  margin: 10px;
  height: 5rem;
}

.textBox {
  width: 70%;
  margin: 10px;
  height: 5rem;
}

.v-field {
  border-radius: 2rem;
  height: 3rem;
}
