.todoCard {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1.5rem;
  margin-top: 1rem;
  border-radius: 1rem;
  background-color: #5ac3f6;
}

.todoInfo {
  width: 70%;
}

.todoStatus {
  width: 30%;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.match {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
